@page "/question/{Id:guid}"
@namespace wasm.Client.Pages.Question

<a href="/question">Go Back &larr;--</a>
<br />

@if (Post != null)
{
    <div>
        <b>@Post.Id</b> <br />
        <b>@Post.Title</b><br />
        <span>@Post.Content</span><br />
        <span>@Post.CreationDate</span>
        <br /><br /><br />
    </div>
}