@page "/"
@namespace wasm.Client.Pages.Index

<div>
    <ul>
        @foreach(var post in Posts)
        {
            <li >@post.Title created at @post.CreationDate</li>
            <wasm.Client.Pages.Question.Question Id="@post.Id"></wasm.Client.Pages.Question.Question>
        }
    </ul>
</div>