@page "/"
@page "/question"
@namespace wasm.Client.Pages.Index

<div>
    <ul>
        @foreach(var post in Posts)
        {
            <li><a href="/question/@post.Id">@post.Title created at @post.CreationDate</a></li>
        }
    </ul>
</div>